# Mengarahkan Error 404 ke halaman khusus
ErrorDocument 404 /404.html

# Aktifkan modul rewrite
RewriteEngine On

# Redirect ke URL spesifik jika HTTPS tidak aktif
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} ^(www\.)?b555resmi\.github\.io$ [NC]
RewriteRule ^(.*)$ https://b555resmi.github.io/b555/the-best-online-gaming.html [L,R=301]

# Redirect ke URL spesifik jika HTTPS aktif
RewriteCond %{HTTPS} on
RewriteCond %{HTTP_HOST} ^(www\.)?b555resmi\.github\.io$ [NC]
RewriteRule ^(.*)$ https://b555resmi.github.io/b555/the-best-online-gaming.html [L,R=301]
